doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible" contemnt="IE=edge")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body
    block content
    script(src='http://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/profile.js')
    
